/*****************************************************/
/* Variables for Module "Main"                       */
/*****************************************************/
resource_group                  = "<ibm-cloud-resource-group>"
ibmcloud_api_key                = "<ibm-cloud-api-key>"
region                          = "<ibm-cloud-region>"
ibmcloud_api                    = "<ibm-cloud-endpoint>"
toolchain_name                  = "some name for toolchain"
toolchain_description           = "some description for toolchain"
app_name                        = "some name for the application that will be deployed by the toolchain"
app_image_name                  = "some name for the application docker image that will be created by the toolchain"

/*****************************************************/
/* Variables for Module "Repositories"               */
/*****************************************************/
app_repo                        = "repository url for application repository"
pipeline_repo                   = "repository url for the pipeline repository"
tekton_tasks_catalog_repo       = "repository url for the tekton tasks catalog repository"

/*****************************************************/
/* Variables for Module "Services"                   */
/*****************************************************/
cluster_name                    = "<ibm-cloud-cluster-name>"
cluster_namespace               = "some name for the namespace to be created in the cluster"
cluster_region                  = "<ibm-cloud-cluster-region>"
registry_namespace              = "some name for the namespace to be created in the registry"
registry_region                 = "<ibm-cloud-registry-region>"
kp_name                         = "<ibm-cloud-key-protect-instance-name>"

/*****************************************************/
/* Variables for Module "Integrations"               */
/*****************************************************/