.DS_Store
*.env

# ignore vendor/
vendor/

# SDK generator
.openapi-generator-ignore
.openapi-generator/VERSION
/.project

# files produced by "npm install" commands during build
package-lock.json
node_modules/

# IDE files
*.idea
.vscode/
*.log

# coverage
coverage.txt
