/*****************************************************/
/* Variables for Module "Main"                       */
/*****************************************************/
resource_group                  = "<ibm-cloud-resource-group>"
ibmcloud_api_key                = "<ibm-cloud-api-key>"
region                          = "<ibm-cloud-region>"
toolchain_name                  = "some name for toolchain"
toolchain_description           = "some description for toolchain"
clone_repo                      = "URL for the Tekton repo to clone, e.g. 'https://github.com/open-toolchain/hello-tekton'"
repo_name                       = "some name for the repository that will be created in the toolchain"
cluster                         = "<ibm-cloud-cluster-name> where the app will be deployed"
cluster_namespace               = "<ibm-cloud-cluster-namespace> in the cluster where the app will be deployed"
registry_namespace              = "<ibm-cloud-container-registry-namespace> where the app image will be built and stored"
